# Install local package in editable mode
-e .

# * Data
numpy
pandas
scipy
duckdb

# * Finance
mstarpy
yfinance
robin_stocks
yahooquery
requests

# * Visualization
matplotlib
plotly
seaborn
streamlit
folium
streamlit-folium

# * jupyter
ipykernel
ipywidgets

# robin_stocks 
# git+https://github.com/jmfernandes/robin_stocks.git
colorama 
# optuna
# scikit-learn
country_converter


# * conf & system
hydra-core
# PyYAML==5.4.0
omegaconf
loguru
pyhere
fear-and-greed

# selenium
# webdriver-manager
# nest-asyncio