# Install local package in editable mode
-e .

numpy
pandas
scipy 
scikit-learn

## Visualization
matplotlib
plotly
seaborn
streamlit

## jupyter
ipykernel
ipywidgets

# robin_stocks 
# git+https://github.com/jmfernandes/robin_stocks.git
colorama 
optuna
loguru
yfinance
country_converter
pyhere

# robin_stocks
robin_stocks

# conf
hydra-core
omegaconf